<!DOCTYPE html>
<!--/*
 * Copyright (c) 2023, Salesforce, Inc.
 * All rights reserved.
 * SPDX-License-Identifier: Apache 2.0 Clause
 * For full license text, see the LICENSE file in the repo root or http://www.apache.org/licenses/
 */ -->
<html>
  __HTML_HEAD__

  <body>
    <div class="page-break"></div>

    {{#sections}}

    <div id="{{name}}" class="section-content">
        <h1>{{ title }}</h1>

        {{#subsections}}
            {{^isReportSummarySection}}
            __SUBSECTION__
            {{/isReportSummarySection}}
        {{/subsections}}

        {{#isWelcomeSection}}
            __ASSESSMENT_HEADER__
        {{/isWelcomeSection}}

        {{#isReportSummarySection}}
            __REPORT_SUMMARY_SECTION__
        {{/isReportSummarySection}}

        {{#isOverallRecommendationSection}}
            __TRANSITION_APPROACH__
        {{/isOverallRecommendationSection}}

        {{#isConsiderationsSubsection}}
            __MAJOR_CONSIDERATIONS__
        {{/isConsiderationsSubsection}}

        {{#isMigrationAnalysisSection}}
            __MIGRATION_ANALYSIS__
        {{/isMigrationAnalysisSection}}

        {{#isAssessmentResultsSection}}
            __ASSESSMENT_RESULTS__
        {{/isAssessmentResultsSection}}

        {{#isProfileAnalysisSection}}
            __PROFILE_ANALYSIS__
        {{/isProfileAnalysisSection}}

        {{#isSharingSettingAnalysisSection}}
            __SHARING_SETTING_ANALYSIS__
        {{/isSharingSettingAnalysisSection}}

        {{#isFieldAnalysisSection}}
            __FIELD_ANALYSIS__
        {{/isFieldAnalysisSection}}

    </div>

    <div class="page-break"></div>

    {{/sections}}

  </body>
</html>
