<!--/*
 * Copyright (c) 2023, Salesforce, Inc.
 * All rights reserved.
 * SPDX-License-Identifier: Apache 2.0 Clause
 * For full license text, see the LICENSE file in the repo root or http://www.apache.org/licenses/
 */ -->
<div class="subsection">
    {{#subtitle}}
        <h3 class="subsection-title">{{ subtitle }}</h3>
    {{/subtitle}}

    {{^isImage}}
        <div class="subsection-body">{{{ body }}}</div>
    {{/isImage}}
</div>