.container {
    display: flex;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    padding-right: 1rem;
}

.menuRow {
    display: flex;
}

.menuRow {
    display: flex;
    align-items: center;
    padding: var(--lwc-spacingSmall,0.75rem);
    border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}

.rowSelected {
    background-color: rgba(36, 111, 233, 0.4);
}

.questionHeader {
    font-size: 1.25rem;
    width: 100%;
}

.questionFooter {
    margin-top: 2rem;
    justify-content: center;
    display: flex;
}

.alignLeft {
    margin-right: auto;
}

.alightRight {
    margin-left: auto;
}

.rowContainer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.arrow {
    text-align: center;
}

.checkboxDiv {
    display: flex;
}

.accordionClass{
    --sds-c-accordion-heading-font-size:.85rem;
}

.questionContainer {
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1rem;
}