/* Report Summary Welcome Section CSS */

p {
    padding-bottom: 10px
}

h4 {
    font-size: 1.5em;
}

.summary-welcome-section {
    padding-bottom: 15px;
}

/* Impact Scale Styles */
.impact-scale-item {
    display: inline-flex;
    background-color: #eeeeee;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.impact-scale-symbol {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.impact-scale-text {
    display: inline-block;
    vertical-align: middle;
}