<!--/*
 * Copyright (c) 2023, Salesforce, Inc.
 * All rights reserved.
 * SPDX-License-Identifier: Apache 2.0 Clause
 * For full license text, see the LICENSE file in the repo root or http://www.apache.org/licenses/
 */ -->
<div id="transition-approach" class="section-content">
   <h3>{{subtitle}}</h3>

   {{^isImage}}
        <div class="subsection-body">{{{ body }}}</div>
    {{/isImage}}

   {{#assessmentResults.recommendations}}
        <div class="step-item">
            <table style="width: 100%">
                <tr>
                    <td style="width: 55px" valign="top">
                        <!-- ICON -->
                        {{{ severityIcon }}}
                    </td>
                    <td valign="top">
                        <h2>{{ text }}</h2>

                        <ul style="list-style-type: none;">
                            {{#reasons}}
                                <li>&bull; {{{reason}}}</li>
                            {{/reasons}}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    {{/assessmentResults.recommendations}}
</div>