<!--/*
 * Copyright (c) 2023, Salesforce, Inc.
 * All rights reserved.
 * SPDX-License-Identifier: Apache 2.0 Clause
 * For full license text, see the LICENSE file in the repo root or http://www.apache.org/licenses/
 */ -->
<div id="migration-analysis" class="report-results section-content">
    <h3>{{subtitle}}</h3>

    {{^isImage}}
        <div class="subsection-body">{{{ body }}}</div>
    {{/isImage}}

    <table>
        <thead>
        <tr class="heading" style="margin-top: 10px">
            <th>{{ label.tableHeaderRecommendation }}</th>
            <th>{{ label.tableHeaderEffort }}</th>
            <th>{{ label.tableHeaderRelatedObjects }}</th>
            <th>{{ label.tableHeaderItemTypes }}</th>
            <th>{{ label.tableHeaderNumberOfItems }}</th>
        </tr>
        </thead>
        <tbody>
        {{#assessmentResults.reportSummaryResults.migrationAnalysis}}
            <tr class="item">
                <td>{{ recommendation }}</td>
                <td>{{ effort }}</td>
                <td>{{ objectName }}</td>
                <td>{{ itemType }}</td>
                <td>{{ itemCount }}</td>
                <td></td>
            </tr>
        {{/assessmentResults.reportSummaryResults.migrationAnalysis}}
        </tbody>
    </table>
    {{^assessmentResults.reportSummaryResults.migrationAnalysis}}
        <p>{{ label.assessmentResultsEmptyTable }}</p>
    {{/assessmentResults.reportSummaryResults.migrationAnalysis}}
</div>