<!--/*
 * Copyright (c) 2023, Salesforce, Inc.
 * All rights reserved.
 * SPDX-License-Identifier: Apache 2.0 Clause
 * For full license text, see the LICENSE file in the repo root or http://www.apache.org/licenses/
 */ -->
<div id="datasheet">
  <h1>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
  </h1>

  <p class="intro">
    Felis donec et odio pellentesque diam volutpat. Tellus cras adipiscing enim
    eu turpis egestas pretium aenean pharetra. Consectetur purus ut faucibus
    pulvinar elementum integer enim. Fringilla urna porttitor rhoncus dolor
    purus non enim praesent. Semper feugiat nibh sed pulvinar proin gravida
    hendrerit lectus a.
  </p>
  <br /><br />

  <table>
    <tr>
      <td width="50%">
        <p class="quote">
          “Placerat vestibulum lectus mauris ultrices eros in cursus. Amet
          volutpat consequat mauris nunc congue nisi. Integer quis auctor elit
          sed vulputate<br />mi sit amet.”
        </p>
        <p class="quote-bold">
          <br />[FIRST, LAST NAME]<br />
          <span class="override-1">[TITLE]</span>
        </p>
        <h1 class="subheadline">[Read the full case study: sfdc.com/justo]</h1>

        <img src="586.png" width="90%" style="margin-top: 170px" />
      </td>
      <td width="50%">
        <article>
          <h2 class="blue">
            Ullamcorper Dignissim Cras Tincidunt Lobortis. Quisque Egestas Diam
            In Arcu Cursus Euismod
          </h2>
          <p class="body">
            Ut placerat orci nulla pellentesque dignissim. Nunc lobortis mattis
            aliquam faucibus purus. Consectetur libero id faucibus nisl
            tincidunt eget nullam non. Ultricies leo integer malesuada nunc vel
            risus commodo viverra maecenas. Neque ornare aenean euismod
            elementum.
          </p>
        </article>

        <article>
          <h2 class="blue">
            Ullamcorper Dignissim Cras Tincidunt Lobortis. Quisque Egestas Diam
            In Arcu Cursus Euismod
          </h2>
          <p class="body">
            Ut placerat orci nulla pellentesque dignissim. Nunc lobortis mattis
            aliquam faucibus purus. Consectetur libero id faucibus nisl
            tincidunt eget nullam non. Ultricies leo integer malesuada nunc vel
            risus commodo viverra maecenas. Neque ornare aenean euismod
            elementum.
          </p>
        </article>

        <article>
          <h2 class="blue">
            Ullamcorper Dignissim Cras Tincidunt Lobortis. Quisque Egestas Diam
            In Arcu Cursus Euismod
          </h2>
          <p class="body">
            Ut placerat orci nulla pellentesque dignissim. Nunc lobortis mattis
            aliquam faucibus purus. Consectetur libero id faucibus nisl
            tincidunt eget nullam non. Ultricies leo integer malesuada nunc vel
            risus commodo viverra maecenas. Neque ornare aenean euismod
            elementum.
          </p>
        </article>

        <article>
          <h2 class="blue">
            Ullamcorper Dignissim Cras Tincidunt Lobortis. Quisque Egestas Diam
            In Arcu Cursus Euismod
          </h2>
          <p class="body">
            Ut placerat orci nulla pellentesque dignissim. Nunc lobortis mattis
            aliquam faucibus purus. Consectetur libero id faucibus nisl
            tincidunt eget nullam non. Ultricies leo integer malesuada nunc vel
            risus commodo viverra maecenas. Neque ornare aenean euismod
            elementum.
          </p>
        </article>
      </td>
    </tr>
  </table>
</div>
