<!--/*
 * Copyright (c) 2023, Salesforce, Inc.
 * All rights reserved.
 * SPDX-License-Identifier: Apache 2.0 Clause
 * For full license text, see the LICENSE file in the repo root or http://www.apache.org/licenses/
 */ -->
<div id="migration-analysis" class="report-results section-content">

    <h3>{{subtitle}}</h3>

    {{^isImage}}
        <div class="subsection-body">{{{ body }}}</div>
    {{/isImage}}

    <table>
        <thead>
        <tr class="heading" style="margin-top: 10px">
            <th>{{ label.tableHeaderName }}</th>
            <th>{{ label.tableHeaderRecordCount }}</th>
            <th>{{ label.tableHeaderCustomRecordTypes }}</th>
            <th>{{ label.tableHeaderProfilesAssigned }}</th>
            <th>{{ label.tableHeaderRecordsModified }}</th>
        </tr>
        </thead>
        <tbody>
        {{#assessmentResults.reportSummaryResults.notableObjects}}
            <tr class="item">
                <td>{{ objectName }}</td>
                <td>{{ recordCount }}</td>
                <td>{{ allRecordTypes }}</td>
                <td>{{ allProfiles }}</td>
                <td>{{ modifiedRecords }}</td>
            </tr>
        {{/assessmentResults.reportSummaryResults.notableObjects}}
        </tbody>
    </table>
    {{^assessmentResults.reportSummaryResults.notableObjects}}
        <p>{{ label.assessmentResultsEmptyTable }}</p>
    {{/assessmentResults.reportSummaryResults.notableObjects}}
</div>